.about {
  @include tablet {
    padding-bottom: 60px;
  }

  &__wrapper {
    @include tablet {
      row-gap: 30px;
    }
  }

  &__content {
    grid-column: 4 span;

    @include tablet {
      grid-column: 6 span;
    }

    @include mobile {
      grid-column: 12 span;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 23px;
    color: var(--accent-black-color);
    font-size: 21px;
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }
}
