.btn {
  display: inline-block;
  max-width: var(--width360);
  width: 100%;
  padding: 5px 10px;
  color: var(--black-color);
  font-size: 20px;
  line-height: 2;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--light-color);
  border-radius: var(--border-radius);
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transform: translateX(-101%);
    transition: background-color 0.4s ease, transform 0.4s ease;
    z-index: -1;
  }

  &--fill {
    background-color: var(--accent-color);
    color: var(--light-color);
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
  }

  @include hover {
    color: var(--light-color);
    transition: color 0.4s ease, transform 0.4s ease;

    &::before {
      transform: translateX(0);
    }
  }

  &:active {
    color: var(--silver-color);
  }
}
