.contacts {
  padding-top: 180px;

  @include tablet {
    padding-top: 120px;
  }

  @include mobile {
    padding-top: 60px;
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 80px;

    @include tablet {
      gap: 40px;
    }
  }

  &__pic {
    grid-column: 4 span;

    @include tablet {
      grid-column: 6 span;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 span;

    @include tablet {
      justify-content: start;
      grid-column: 3 span;
    }

    @include mobile {
      grid-column: 6 span;
    }
  }

  &__text {
    max-width: var(--width360);
    margin: 0;
    margin-bottom: 40px;
    color: var(--black-color);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;

    @include mobile {
      max-width: 100%;
    }
  }

  &__highlight {
    color: var(--accent-color);
    background-color: transparent;
  }

  &__info {
    grid-column: 6 span;

    @include tablet {
      grid-column: 3 span;
    }

    @include mobile {
      grid-column: 6 span;
    }
  }

  &__info-wrapper {
    display: flex;
    gap: var(--gap);
    margin-bottom: 100px;

    @include tablet {
      flex-direction: column;
      gap: 32px;
    }

    @include mobile {
      margin-bottom: 60px;
      gap: 40px;
    }
  }

  &__info-item {
    max-width: 360px;
    width: 100%;
  }

  .contacts-social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title {
      margin: 0;
      margin-bottom: 25px;
      color: var(--black-color);
      font-size: 30px;
      font-weight: 400;
      line-height: 1.2;

      @include tablet {
        margin-bottom: 20px;
      }
    }

    &-link {
      color: var(--accent-black-color);
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      transition: color 0.3s ease;

      @include mb(15px);

      &:focus {
        outline: 2px solid var(--accent-color);
        outline-offset: 4px;
      }

      @include hover {
        color: var(--accent-color);
      }

      @include tablet {
        @include mb(20px);
      }
    }
  }

  .contacts-connection {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;

    @include tablet {
      gap: 12px;
    }

    &__email {
      color: var(--accent-black-color);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      transition: color 0.3s ease;

      &:focus {
        outline: 2px solid var(--accent-color);
        outline-offset: 4px;
      }

      @include hover {
        color: var(--accent-color);
      }
    }
  }

  .contacts-nav {
    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    &__item {
      font-size: 18px;
      font-weight: 500;
      line-height: 1;
      color: var(--accent-black-color);
    }

    &__link {
      text-transform: capitalize;
      color: currentColor;
      transition: color 0.3s ease;

      &:focus {
        outline: 2px solid var(--accent-color);
        outline-offset: 4px;
      }

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
