.contacts {
  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 60px;
    row-gap: 80px;

    @include tablet {
      gap: 40px;
    }
  }

  &__pic {
    grid-column: 4 span;

    @include tablet {
      grid-column: 6 span;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__info {
    grid-column: 2 span;

    @include tablet {
      grid-column: 3 span;
    }

    @include mobile {
      grid-column: 6 span;
    }
  }

  &__text {
    max-width: var(--width360);
    margin: 0;
    margin-bottom: 40px;
    color: var(--black-color);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;

    @include mobile {
      max-width: 100%;
    }
  }

  &__highlight {
    display: inline-block;
    color: var(--accent-color);
  }
}
