.features {
  padding-top: 60px;
  border-radius: var(--border-radius-section);
  background-color: var(--light-color);

  &__list {
    border-top: 1px solid var(--accent-black-color);
    border-bottom: 1px solid var(--accent-black-color);
  }

  &__item {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
    padding: 40px 0 70px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--accent-black-color);
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 90px;
    color: var(--accent-black-color);
    font-size: 25px;
    font-size: clamp(20px, 1.56vw, 25px);
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    max-width: 570px;
    width: 100%;
    color: var(--accent-black-color);
    font-size: clamp(14px, 1.12vw, 18px);
    font-weight: 400;
    line-height: 1.3;
    opacity: 0.8;
  }
}
