.footer {
  grid-column: 6 span;

  @include tablet {
    grid-column: 3 span;
  }

  @include mobile {
    grid-column: 6 span;
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    margin-bottom: 120px;

    @include tablet {
      flex-direction: column;
      gap: 32px;
    }

    @include mobile {
      gap: 40px;
    }
  }

  &__item {
    max-width: 360px;
    width: 100%;
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__social-title {
    margin: 0;
    margin-bottom: 25px;
    color: var(--black-color);
    font-size: 30px;
    font-weight: 400;
    line-height: 1.2;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__social-link {
    color: var(--accent-black-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    transition: color 0.3s ease;

    @include mb(15px);

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }

    @include hover {
      color: var(--accent-color);
    }

    @include tablet {
      @include mb(20px);
    }
  }

  &__contacts {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 40px;

    @include tablet {
      gap: 12px;
    }
  }

  &__contacts-email {
    color: var(--accent-black-color);
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    transition: color 0.3s ease;

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }

    @include hover {
      color: var(--accent-color);
    }
  }

  &-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &-nav__item {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    color: var(--accent-black-color);
  }

  &-nav__link {
    text-transform: capitalize;
    color: currentColor;
    transition: color 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    margin-bottom: 30px;

    @include tablet {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  &__copyright-text {
    color: var(--accent-black-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
  }
}
