.header {
  &__container {
    position: relative;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-inline: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
