.header {
  &__content {
    position: relative;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding-top: 40px;
    }

    @include mobile {
      padding-top: 20px;
    }
  }
}
