.hero {
  position: relative;
  margin-bottom: -35px;
  padding-bottom: 155px;

  @include small-tablet {
    padding-bottom: 215px;
  }

  @include mobile {
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: height 0.3s ease;
  }

  &__wrapper {
    padding-top: 105px;
    margin-bottom: 120px;

    @include small-tablet {
      padding-top: 150px;
      margin-bottom: 80px;
    }

    @include mobile {
      padding-top: 100px;
      margin-bottom: 86px;
    }
  }

  &__main-img {
    height: auto;
  }

  &__content {
    max-width: var(--width360);
    width: 100%;
    margin-left: auto;

    @include mobile {
      max-width: 100%;
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    color: var(--light-color);
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
  }

  &__text {
    margin: 0;
    margin-bottom: 28px;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__btn {
    margin-top: auto;
  }
}
