.hero {
  position: relative;
  height: calc(100dvh + 35px);
  overflow: hidden;
  transition: height 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100dvh + 35px);
    object-fit: cover;
    z-index: -1;
    transition: height 0.3s ease;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 29px;
    padding-top: 105px;
    margin-bottom: 120px;
  }

  &__info {
    position: relative;
    margin: 0;
    padding-left: 21px;
    font-size: clamp(16px, 1.12vw, 18px);
    font-weight: 400;
    line-height: 1.6;
    color: var(--light-color);
    text-transform: capitalize;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 25px;
      background-color: currentColor;
      transform: skew(-14deg);
    }
  }

  &__content {
    max-width: var(--width360);
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    color: var(--light-color);
    font-size: clamp(16px, 1.87vw, 30px);
    font-weight: 500;
    line-height: 1.2;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }

  &__btn {
    margin-top: auto;
  }
}
