.link {
  position: relative;
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  padding-right: 32px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    aspect-ratio: 1;
    background-image: url(../img/arrow-link.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
  }

  @include hover {
    &::after {
      animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

      @keyframes slide-in-left {
        0% {
          transform: translate(-150%, 150%);
          opacity: 0;
        }

        100% {
          transform: translate(0);
          opacity: 1;
        }
      }
    }
  }

  @include mini-tablet {
    font-size: 16px;
    padding-right: 24px;

    &::after {
      width: 14px;
    }
  }
}
