.nav {
  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    padding: 50px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--light-color);
    transform: translateX(calc(-150% + 6vw));
    transition: 1s cubic-bezier(0.7, 0, 0.2, 1);
    will-change: transform;
    overflow-y: auto;
    z-index: 22;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @include mobile {
    padding: 25px;
  }

  &.menu--active {
    border-radius: 0;
    transform: translateX(0);
  }

  &__list {
    display: flex;
    align-items: center;
    color: var(--light-color);

    @include tablet {
      flex-direction: column;
      gap: var(--gap);
      color: var(--accent-color);
    }

    @include mobile {
      gap: 30px;
    }
  }

  &__item {
    font-weight: 300;
    line-height: 1;
    color: currentColor;

    @include mr(47px);

    @include tablet {
      @include mr(0);
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    color: currentColor;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      background-color: var(--accent-color);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
      opacity: 0;
    }

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }

    @include hover {
      &::after {
        @include fillAnimation;

        animation: fillAnimation 0.3s linear forwards;
        transform: scaleX(1);
        opacity: 1;
      }
    }

    &:active {
      color: var(--silver-color);
    }

    @include tablet {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
    }
  }
}
