.nav {
  &__list {
    display: flex;
    align-items: center;
    color: var(--light-color);
  }

  &__item {
    font-weight: 300;
    line-height: 1;
    color: currentColor;

    @include mr(47px);
  }

  &__link {
    position: relative;
    overflow: hidden;
    color: currentColor;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 3px;
      background-color: var(--accent-color);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
      opacity: 0;
    }

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 4px;
    }

    @include hover {
      &::after {
        @include fillAnimation;

        animation: fillAnimation 0.3s linear forwards;
        transform: scaleX(1);
        opacity: 1;
      }
    }

    &:active {
      color: var(--silver-color);
    }
  }
}
