.product {
  background-color: var(--black-color);
  padding: 120px 0 142px;
  border-radius: var(--border-radius-section);
  overflow: hidden;
  margin-bottom: -35px;

  @include small-tablet {
    padding: 60px 0 95px;
    margin-bottom: 0;
  }

  @include mobile {
    border-radius: var(--border-radius-section-mobile);
  }

  &__info {
    display: flex;
    gap: 190px;
    margin-bottom: 70px;

    @include tablet {
      align-items: center;
      gap: 40px;
      margin-bottom: 120px;
    }

    @include mini-tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--gap);
      margin-bottom: 40px;
    }

    @include mobile {
      gap: 36px;
    }
  }

  &__title {
    max-width: 650px;
    width: 100%;
    color: var(--light-color);
    margin-bottom: 0;
    padding-left: 40px;

    @include mini-tablet {
      max-width: 100%;
      padding-left: 30px;
    }
  }

  &__tab {
    padding-top: 25px;
    flex-grow: 1;

    @include tablet {
      padding-top: 0;
      padding-left: 15px;
    }
  }

  &__slider-block {
    position: relative;

    .swiper {
      // display: none;
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }

    &.show {
      .swiper {
        position: static;
        opacity: 1;
        visibility: visible;
        // display: block;
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 780 / 700;
    transition: all 1s ease 0.5s;
  }

  &__content {
    background-color: transparent;
    display: flex;
    column-gap: var(--gap);
    color: var(--light-color);
    padding-top: 25px;
    opacity: 0;
    visibility: hidden;

    &:focus {
      outline: 2px solid var(--accent-color);
      outline-offset: 2px;
    }

    @include hover {
      .product__price {
        color: var(--accent-color);
      }
    }

    @include tablet {
      column-gap: 36px;
    }

    @include mini-tablet {
      opacity: 1;
      visibility: visible;
    }

    @include mobile {
      flex-direction: column;
      column-gap: 0px;
      row-gap: 20px;
    }
  }

  &__descr {
    max-width: 360px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    @include tablet {
      max-width: 100%;
    }
  }

  &__name {
    margin: 0;
    margin-bottom: 25px;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin: 0;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__investments {
    margin: 0;
    margin-bottom: 20px;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1;

    @include small-tablet {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  &__price {
    margin: 0;
    margin-bottom: 15px;
    color: var(--light-color);
    font-size: 51px;
    font-weight: 600;
    line-height: 1;
    padding-left: 35px;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: "$";
      position: absolute;
      top: 0;
      left: 0;
      color: currentColor;
    }

    @include mini-tablet {
      font-size: 36px;
    }
  }

  &__adress {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }
}
