.product {
  background-color: var(--black-color);
  padding: 120px 0 95px;
  border-radius: var(--border-radius-section);
  margin-bottom: -35px;
  overflow: hidden;

  &__info {
    display: flex;
    gap: var(--gap);
    margin-bottom: 67px;
  }

  &__title {
    max-width: 741px;
    width: 100%;
    color: var(--light-color);
  }

  &__content {
    color: var(--light-color);
    padding-top: 25px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  &__descr {
    grid-column: 6 span;
  }

  &__name {
    margin: 0;
    margin-bottom: 25px;
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    color: var(--light-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
  }

  &__investments {
    margin: 0;
    margin-bottom: 20px;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
  }

  &__price {
    margin: 0;
    margin-bottom: 15px;
    color: var(--light-color);
    font-size: 51px;
    font-weight: 600;
    line-height: 1;
    padding-left: 35px;
    position: relative;

    &::after {
      content: "$";
      position: absolute;
      top: 0;
      left: 0;
      color: currentColor;
    }
  }

  &__adress {
    color: var(--light-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
  }

  &__img {
    width: 100%;
    height: auto;
    aspect-ratio: 780 / 700;
    will-change: transition;
    transition: aspect-ratio 1s ease;
  }

  &__slider-block {
    position: relative;

    .swiper {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }

    &.show {
      .swiper {
        opacity: 1;
        visibility: visible;
        position: static;
      }
    }
  }
}
