.product {
  background-color: var(--black-color);
  padding-bottom: 137px;

  &__info {
    display: flex;
    gap: var(--gap);
    margin-bottom: 67px;
  }

  &__title {
    max-width: 741px;
    width: 100%;
    color: var(--light-color);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__item {
    color: var(--light-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.6;
  }

  &__content {
    color: var(--light-color);
  }

  &__left,
  &__right {
    grid-column: 6 span;
  }
}
