.swiper {
  overflow: visible;

  // @include small-tablet {
  //   overflow: hidden;
  // }

  &-wrapper {
    padding-inline: 15px;
  }

  &-slide {
    transform: translate3d(0, 0, 0) !important;

    &.swiper-slide-active {
      .product__content {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.swiper-slide-next {
      cursor: url(../img/cursor-next.svg), auto;
    }

    &.swiper-slide-prev {
      cursor: url(../img/cursor-prev.svg), auto;
    }

    &.swiper-slide-shadow-right {
      background-image: none;
    }

    &.swiper-slide-shadow-left {
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0%);
    }
  }

  &-button-next {
    display: none;
  }

  &-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--pag-color);
    opacity: 1;

    @include tablet {
      width: 10px;
      height: 10px;
    }

    &-active {
      background-color: var(--light-color);
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @include mr(10px);

    margin: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -60px;
  }
}
