.swiper {
  overflow: visible;

  &-wrapper {
    transition-delay: 1.5s;
  }

  &-slide {
    transform: translate3d(0, 0, 0) !important;

    &.swiper-slide-active {
      .product__content {
        opacity: 1;
        visibility: visible;
      }

      & .swiper-slide-shadow-left {
        background-image: none;
      }
    }

    &.swiper-slide-next {
      cursor: url(../img/cursor-next.svg), auto;
    }

    &.swiper-slide-prev {
      cursor: url(../img/cursor-prev.svg), auto;
    }
  }

  .swiper-slide-shadow-right {
    background-image: none;
  }

  .swiper-slide-shadow-left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8));
  }

  &-button-next {
    display: none;

    @include mobile {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background-color: red;
      border-radius: 50%;

      &::after {
        display: none;
      }

      svg {
        width: 15px;
        height: 15px;
        fill: var(--light-color);
      }

      &.swiper-button-disabled {
        background-color: var(--silver-color);
        opacity: 0.7;
      }
    }
  }

  &-pagination-bullet {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--pag-color);
    opacity: 1;

    &-active {
      background-color: var(--light-color);
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @include mr(10px);

    margin: 0;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -60px;
  }
}
