/* stylelint-disable */
@mixin big-desktop {
  @media (max-width: (1440px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1025px)) {
    @content;
  }
}

@mixin mini-tablet {
  @media (max-width: (865px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (641px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}
