/* stylelint-disable */

@mixin tablet {
  @media (max-width: (1023px)) {
    @content;
  }
}

@mixin mini-tablet {
  @media (max-width: (865px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (639px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}
