<article class="product__item">
  <img class="product__img" loading="lazy" src="img/slider-img-3.jpg" width="780" height="455"
    alt="cottage with private pool and gym">
  <a class="product__content" href="#0">
    <div class="product__descr">
      <h3 class="product__name">SUNSET VILLAGE1</h3>
      <p class="product__text">To-be-build project of European style cottage village located near by the
        ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard and
        awesome
        views.</p>
    </div>
    <div class="product__descr">
      <p class="product__investments">Min. Investment:</p>
      <p class="product__price">349,000</p>
      <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
    </div>
  </a>
</article>
