<section class="about section-border">
  <div class="container">
    <h2 class="title">ABOUT US</h2>
    <div class="about__wrapper grid">
      <div class="about__content">
        <h3 class="about__subtitle">Our Mission</h3>
        <p class="about__text">At SIR, our mission is to empower individuals and businesses to make informed and
          profitable real estate investment decisions. We strive to provide comprehensive resources, expert guidance,
          and exceptional services to help our clients achieve their financial goals.</p>
      </div>
      <div class="about__content">
        <h3 class="about__subtitle">Our Approach</h3>
        <p class="about__text">With a team of experienced professionals and a deep understanding of the real estate
          market, we adopt a data-driven approach to identify lucrative investment opportunities. We leverage our
          extensive network, market research, and industry insights to guide our clients towards successful property
          investments. Trust us to be your reliable partner in maximizing returns and building wealth through real
          estate.</p>
      </div>
      <div class="about__content">
        <a class="link" href="#">Meet our Team</a>
      </div>
    </div>
  </div>
</section>
