<section class="cases section-border">
  <div class="container">
    <h2 class="title">CASES</h2>
    <div class="grid">
      <article class="cases__item">
        <picture>
          <source media="(min-width: 576px)" srcset="img/cases-img-1_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/cases-img-1.webp" type="image/webp">
          <source srcset="img/cases-img-1.webp" type="image/webp">
          <img loading="lazy" src="img/cases-img-1.jpg" srcset="img/cases-img-1_2x.jpg 2x" class="cases__img"
            width="360" height="460" alt="creative building with sea view">
        </picture>
        <h3 class="cases__subtitle">Art and exhibition spaces</h3>
        <p class="cases__text">Discover lucrative opportunities in art and exhibition spaces for property investments.
          Tap into the creative world and maximize your returns today.</p>
        <a class="link" href="#">Learn more</a>
      </article>
      <article class="cases__item">
        <picture>
          <source media="(min-width: 576px)" srcset="img/cases-img-2_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/cases-img-2.webp" type="image/webp">
          <source srcset="img/cases-img-2.webp" type="image/webp">
          <img loading="lazy" src="img/cases-img-2.jpg" srcset="img/cases-img-2_2x.jpg 2x" class="cases__img"
            width="360" height="460" alt="A large skyscraper in which the office is lit up ">
        </picture>
        <h3 class="cases__subtitle">Commercial property</h3>
        <p class="cases__text">Invest in thriving business commercial real estate assets to secure long-term growth of
          your financial stability. </p>
        <a class="link" href="#">Learn more</a>
      </article>
      <article class="cases__item">
        <picture>
          <source media="(min-width: 576px)" srcset="img/cases-img-3_2x.webp 2x" type="image/webp">
          <source media="(max-width: 575px)" srcset="img/cases-img-3.webp" type="image/webp">
          <source srcset="img/cases-img-3.webp" type="image/webp">
          <img loading="lazy" src="img/cases-img-3.jpg" srcset="img/cases-img-3_2x.jpg 2x" class="cases__img"
            width="360" height="460" alt="Beautiful house with a swimming pool">
        </picture>
        <h3 class="cases__subtitle">Co-ownership and tourism</h3>
        <p class="cases__text">Turn your property investments into personal havens or lucrative tourist destinations.
          Explore the world of real estate possibilities and create unforgettable experiences..</p>
        <a class="link" href="#">Learn more</a>
      </article>
    </div>
  </div>
</section>
