<section class="contacts" id="contact">
  <div class="container">
    <h2 class="title">CONTACT US</h2>
    <div class="contacts__wrapper">
      <picture class="contacts__pic">
        <source media="(min-width: 576px)" srcset="img/contacts-img_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/contacts-img.webp" type="image/webp">
        <source srcset="img/contacts-img.webp" type="image/webp">
        <img loading="lazy" src="img/contacts-img.jpg" srcset="img/contacts-img_2x.jpg 2x" class="contacts__img"
          width="780" height="270" alt="Happy people meet the sunrise">
      </picture>
      <div class="contacts__info">
        <p class="contacts__text">CONNECT WITH US AND LETS START YOUR <span class="contacts__highlight">PERSONAL</span>
          INVESTMENT JOURNEY TODAY.
        </p>
        <a class="btn btn--fill btn-reset" href="tel:4055550128">BOOK A CALL</a>
      </div>
      @include('./footer.html')
    </div>
  </div>
</section>
