<section class="features" id="features">
  <div class="container">
    <h2 class="features__title title">FEATURES</h2>
    <ul class="features__list list-reset">
      <li class="features__item">
        <div class="features__content">
          <h3 class="features__subtitle">EXPERT INSIGHTS</h3>
          <p class="features__text">Gain access to expert advice from experienced real estate professionals who have a
            deep understanding of the market trends, investment strategies, and potential risks. We provide
            comprehensive
            articles, guides, and blog posts that cover various aspects of real estate investment.</p>
        </div>
        <a class="features__link link" href="#0" aria-label="Learn more">Learn more</a>
      </li>
      <li class="features__item">
        <div class="features__content">
          <h3 class="features__subtitle">PROPERTY ANALYTICS</h3>
          <p class="features__text">Make data-driven investment choices by utilizing our powerful property analytics
            tools. Access detailed reports, market analysis, and neighborhood insights to evaluate the potential
            profitability of different properties. Our platform integrates up-to-date information on property prices,
            rental yields, and growth projections to help you make informed decisions.</p>
        </div>
        <a class="features__link link" href="#0" aria-label="Learn more">Learn more</a>
      </li>
      <li class="features__item">
        <div class="features__content">
          <h3 class="features__subtitle">Investment Calculator</h3>
          <p class="features__text">Take advantage of our investment calculator to estimate the potential returns and
            cash
            flows on your investment. Adjust variables such as purchase price, down payment, rental income, and expenses
            to understand the financial viability of your real estate venture.</p>
        </div>
        <a class="features__link link" href="#0" aria-label="Learn more">Learn more</a>
      </li>
    </ul>
  </div>
</section>
