<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__item footer__social">
      <h2 class="footer__social-title">SOCIAL</h2>
      <a class="footer__social-link" href="#0" target="_blank" aria-label="Our Facebook">Facebook</a>
      <a class="footer__social-link" href="#0" target="_blank" aria-label="Our Instagram">Instagram</a>
    </div>
    <div class="footer__item footer__contacts">
      <a class="footer__contacts-email" href="mailto:hello@sirealty.com">hello@sirealty.com</a>
      <a class="link" href="#0" aria-label="Our contacts">Say hello</a>
    </div>
    <nav class="footer__item footer-nav" aria-label="Secondaly Navigation">
      <ul class="footer-nav__list list-reset">
        <li class="footer-nav__item"><a href="#cases" class="footer-nav__link">Cases</a></li>
        <li class="footer-nav__item"><a href="#features" class="footer-nav__link">features</a>
        </li>
        <li class="footer-nav__item"><a href="#about" class="footer-nav__link">About us</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__copyright">
    <a class="footer__logo logo" href="#0">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="48" height="24" alt="Logo Smart Invest Realty">
    </a>
    <small class="footer__copyright-text"> Smartinvestrealty 2023</small>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
