<footer class="footer">
  <div class="container">
    <div class="footer__wrapper grid">
      <div class="footer__item footer__social">
        <h2 class="footer__social-title">SOCIAL</h2>
        <a class="footer__social-link" href="/" target="_blank">Facebook</a>
        <a class="footer__social-link" href="/" target="_blank">Instagram</a>
      </div>
      <div class="footer__item footer__contacts">
        <a class="footer__contacts-email" href="mailto:hello@sirealty.com">hello@sirealty.com</a>
        <a class="link" href="/">Say hello</a>
      </div>
      <nav class="footer__item footer__nav nav" aria-label="Secondaly Navigation">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#cases" data-scroll data-menu-item class="nav__link">Cases</a></li>
          <li class="nav__item"><a href="#features" data-scroll data-menu-item class="nav__link">features</a></li>
          <li class="nav__item"><a href="#about" data-scroll data-menu-item class="nav__link">About us</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__copyright">
      <a class="footer__logo logo" href="/">
        <img loading="lazy" src="img/logo.svg" class="logo__image" width="48" height="24"
          alt="Logo SIR-Smart Invest Realty" title="Smart Invest Realty">
      </a>
      <small class="footer__copyright-text"> Smartinvestrealty 2023</small>
    </div>
  </div>
</footer>
<div class="overlay" data-menu-overlay></div>
