<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Smart Invest Realty</title>
  <meta name="description"
    content="Invest in real estate with confidence at SIR. Partner with us to explore potential private market investments on SmartInvest Realty, starting at $5k. Empower your financial journey with our mission to provide expert guidance and exceptional services for informed and profitable real estate investment decisions.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://afterlogic.github.io/afterlogic-real-estate-case-sir">
  <meta property="og:title" content="SIR Invest in Real Estate" />
  <meta property="og:description"
    content="Explore real estate investments with confidence at SIR. Partner with us to start your journey on SmartInvest Realty, with opportunities beginning at $5k. Empower your financial decisions with our mission to provide expert guidance and exceptional services for profitable real estate investments.">
  <meta property="og:image" content="https://i.ibb.co/HYtPQ9h/smart-invest-realty.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://afterlogic.github.io/afterlogic-real-estate-case-sir">
  <meta property="twitter:title" content="SIR Invest in Real Estate" />
  <meta property="twitter:description"
    content="Explore real estate investments with confidence at SIR. Partner with us to start your journey on SmartInvest Realty, with opportunities beginning at $5k. Empower your financial decisions with our mission to provide expert guidance and exceptional services for profitable real estate investments.">
  <meta property="twitter:image" content="https://i.ibb.co/HYtPQ9h/smart-invest-realty.jpg">
  <meta name="keywords"
    content="real estate investment, SIR, SmartInvest Realty, financial goals, expert guidance, property investments, market trends, investment strategies, wealth building">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Afterlogic">
  <link rel="preload" href="fonts/InterBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/InterSemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/InterMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/InterRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/InterLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
