<section class="hero">
  <div class="hero__container container">
    <video class="hero__video" src="hero-bg-video.mp4" muted autoplay loop playsinline preload="metadata"></video>
    <div class="hero__wrapper">
      <h1 class="visually-hidden">SIR we'll help you invest wisely</h1>
      <img class="hero__main-img" src="img/main-title.svg" alt="" width="995" height="338">
      <!-- <img class="hero__main-img" src="img/main-title.svg" alt="SIR" width="788" height="339" loading="lazy">
      <img class="hero__descr-img" src="img/hero-descr.svg" alt="Smart Invest Realty" width="179" height="25"
        loading="lazy"> -->
    </div>
    <div class="hero__content">
      <h2 class="hero__subtitle">Invest in Real Estate</h2>
      <p class="hero__text">With trusted partner in making real estate investments and start to grow your potential of
        private market investing on SmartInvest Realty. Start at $5k. </p>
      <button class="hero__btn btn btn-reset">GET STARTED</button>
    </div>
  </div>
</section>
