<section class="product">
  <div class="container">
    <div class="product__info">
      <h2 class="product__title title">MOST SEARCHED</h2>
      <ul class="product__list list-reset">
        <li class="product__item">INDONESIA</li>
        <li class="product__item">EUROPE</li>
        <li class="product__item">JAPAN</li>
        <li class="product__item">USA</li>
      </ul>
    </div>
    <div class="product__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-1.jpg" alt="" width="780" height="455">
            <div class="product__content grid">
              <div class="product__left">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard and awesome
                  views.</p>
              </div>
              <div class="product__right">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price">$349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-1.jpg" alt="" width="780" height="455">
            <div class="product__content grid">
              <div class="product__left">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard and awesome
                  views.</p>
              </div>
              <div class="product__right">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price">$349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-1.jpg" alt="" width="780" height="455">
            <div class="product__content grid">
              <div class="product__left">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard and awesome
                  views.</p>
              </div>
              <div class="product__right">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price">$349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product__next swiper-button-next btn-reset"></div>
    </div>
  </div>
</section>
