<section class="product">
  <div class="container">
    <div class="product__info">
      <h2 class="product__title title">MOST SEARCHED</h2>
      <div class="product__nav-btns">
        <button class="product__nav-btn btn-reset active" type="button" data-slide-id="INDONESIA">INDONESIA</button>
        <button class="product__nav-btn btn-reset" type="button" data-slide-id="EUROPE">EUROPE</button>
        <button class="product__nav-btn btn-reset" type="button" data-slide-id="JAPAN">JAPAN</button>
        <button class="product__nav-btn btn-reset" type="button" data-slide-id="USA">USA</button>
      </div>
    </div>
    <div class="product__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" id="INDONESIA">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-1.jpg" alt="" width="780" height="455" loading="lazy">
            <div class="product__content grid">
              <div class="product__descr">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard and awesome
                  views.</p>
              </div>
              <div class="product__descr">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price"> 349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" id="EUROPE">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-2.jpg" alt="" loading="lazy">
            <div class="product__content grid">
              <div class="product__descr">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near
                  by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard
                  and awesome
                  views.</p>
              </div>
              <div class="product__descr">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price"> 349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" id="JAPAN">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-2.jpg" alt="" loading="lazy">
            <div class="product__content grid">
              <div class="product__descr">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near
                  by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard
                  and awesome
                  views.</p>
              </div>
              <div class="product__descr">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price"> 349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" id="USA">
          <div class="product__wrapper">
            <img class="product__img" src="img/slider-img-2.jpg" alt="" loading="lazy">
            <div class="product__content grid">
              <div class="product__descr">
                <h3 class="product__name">SUNSET VILLAGE</h3>
                <p class="product__text">To-be-build project of European style cottage village located near
                  by the
                  ocean.Well architect 2-floors villas with a balcony, private pool, gym, huge grass yard
                  and awesome
                  views.</p>
              </div>
              <div class="product__descr">
                <p class="product__investments">Min. Investment:</p>
                <p class="product__price"> 349,000</p>
                <address class="product__adress">80361 Kabupaten Badung, Bali, INDONESIA</address>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="product__next swiper-button-next btn-reset"></button>
      <div class="product__pag swiper-pagination"></div>
    </div>
  </div>
</section>
