html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  counter-reset: title;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  font-style: italic;
  user-select: none;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  user-select: none;
  white-space: nowrap;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.skiplink {
  position: absolute;
  top: -200px;
  left: 15px;
  transition: top 0.3s ease;
  color: var(--light-color);

  &:focus {
    top: 15px;
    outline: 2px solid currentColor;
    outline-offset: 4px;
  }
}

.container {
  margin-inline: auto;
  padding-inline: var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--gap);

  @include tablet {
    column-gap: 40px;
  }

  @include small-tablet {
    column-gap: 30px;
  }

  @include mobile {
    column-gap: 0;
  }
}

.section-border {
  padding: 120px 0;
  background-color: var(--light-color);
  border-radius: var(--border-radius-section);

  @include mobile {
    padding: 60px 0;
  }
}

.title {
  margin: 0;
  margin-bottom: 80px;
  position: relative;
  color: var(--accent-black-color);
  font-size: 110px;
  font-weight: 600;
  line-height: 1;
  padding-left: 30px;
  text-transform: uppercase;

  &::before {
    content: counter(title) "/";
    counter-increment: title;
    position: absolute;
    top: 0;
    left: 0;
    color: currentColor;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
  }

  @include small-tablet {
    font-size: 80px;
    line-height: 1;
    margin-bottom: 40px;
  }

  @include mobile {
    font-size: 50px;
    padding-left: 15px;

    &::before {
      font-size: 15px;
    }
  }
}

.burger {
  @include burger;

  --burger-width: 48px;
  --burger-height: 40px;
  --burger-line-height: 5px;
  display: none;
  color: var(--light-color);
  z-index: 2000;

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 4px;
  }

  @include tablet {
    display: block;
  }

  @include mobile {
    --burger-width: 32px;
    --burger-height: 24px;
    --burger-line-height: 3px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
  pointer-events: none;

  &--active {
    opacity: 1;
    visibility: visible;
  }
}
