:root {
  // base
  --font-family: "Inter", sans-serif;
  --content-width: 1200px;
  --container-offset: 10px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #ffffff;
  --black-color: #000000;
  --accent-black-color: #282828;
  --accent-color: #ff0006;
  --silver-color: #5a5a5a;

  //width
  --width360: 360px;

  //gap
  --gap: 60px;

  //border-radius
  --border-radius: 40px;
  --border-radius-section: 40px 40px 0px 0px;
}
