@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// page blocks connection
@import "./components/header";
@import "./components/hero";
@import "./components/about";
@import "./components/product";
@import "./components/features";
@import "./components/cases";
@import "./components/contacts";
@import "./components/footer";

// page components connection
@import "./components/nav";
@import "./components/btn";
@import "./components/logo";
@import "./components/link";
